@import "bootstrap/scss/functions";
@import "../styles/variables";
@import "bootstrap/scss/mixins";

// Custom background utility class for türkis color
.bg-turkis {
  background-color: $turkis !important;
}

.carousel-indicators {
  margin-bottom: 0;
  bottom: -3rem;

  [data-bs-target] {
    border-radius: 50%;
  }
}

.carousel-control-prev, .carousel-control-next {
  background: none;
}

cite {
  font-weight: bold;
}

.dropdown-menu {
  padding-top: var(--biszet-nav-link-padding-y);
  background: #FFF;
  a {
    padding: var(--biszet-nav-link-padding-y) var(--biszet-navbar-nav-link-padding-x);
    text-decoration: none;
    font-weight: var(--biszet-nav-link-font-weight);
    color: var(--biszet-nav-link-color);
    &:hover {
      color: var(--biszet-nav-link-hover-color);
    }
  }
  hr {
    margin: 0.5rem 1rem;
  }
}

/* Spacing */
section.my-5 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}

/* FAQ Accordion */
.accordion-header {
  border: none;
  border-bottom: 1px solid $border-color;
  background: transparent;
}
.accordion-button {
  border: none;
  padding: 0;
  background: transparent;
}

.accordion-body {
  margin-bottom: 1.5em;
}

/* Redaktion */
.article-content > h3 {
  font-weight: 600;
}