@import "bootstrap/scss/functions";
@import "../styles/variables";
@import "bootstrap/scss/mixins";

.stage {
  width: 100%;
  min-height: 100vh;

  @media screen and (max-height: 700px) {
    min-height: 120vh;
  }
}

.stage__image {
  min-height: 60vh;
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;

  img {
    object-position: left center ;
  }


  @include media-breakpoint-down(sm) {
    img {
      object-fit: cover !important ;
      object-position: center center !important ;
    }
  }
}

// Desktop image - hidden on mobile (below md breakpoint)
.stage__image_desktop {
  display: none;
  
  @include media-breakpoint-up(xl) {
    display: block !important;
  }
}

// Mobile image - hidden on desktop (md breakpoint and up)
.stage__image_mobile {
  display: block;
  
  @include media-breakpoint-up(xl) {
    display: none !important;
  }
}

.stage__content {
  min-height: 50vh;
  position: relative;
  z-index: 1;
  @include media-breakpoint-down(sm) {
    margin-top: 3em;
  }
}

.stage__text {
  height: 100%;

  & h1 {
    text-shadow: 0px 0px 30px white,0px 0px 30px white, 0px 0px 30px white, 0px 0px 30px white, 0px 0px 30px white, 0px 0px 30px white, 
  }
}

.stage__overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 58%;
  height: 100%;
  background: linear-gradient(to left, $white 0%, $white calc(90% - 300px), transparent 100%);
  z-index: 0;
  pointer-events: none;
  
  // Only show overlay on desktop viewports (lg and up)
  display: none;
  
  @include media-breakpoint-up(xl) {
    display: block;
  }
}

@include media-breakpoint-up(md) {
  .stage {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .stage__image {
    display: contents;
  }

  .stage__content {
    height: 100%;
    position: relative
  }

  .stage__text {
    height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .stage {
    height: 50vh !important;
  }
}

// GIF-specific styling
.stage__gif {
  img {
    // Desktop: contain to show full GIF
    object-fit: contain !important;
    object-position: right center !important;
    
    // Mobile: cover to fill container
    @include media-breakpoint-down(xl) {
      object-fit: cover !important;
    }
  }
}
